.navbar {
  background-color: hsla(270, 100%, 0%, 1);

}

.collapse .navbar-collapse {
  background-color: hsla(270, 100%, 0%, 1);
  color: hsla(105, 100%, 50%)
}

.btn {
  background-color: hsla(270, 100%, 0%, 1);
  color: hsla(105, 100%, 50%)

}
